.chat-container {
  border: solid #00000040;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Lato", sans-serif;
}

.message-header {
  background-image: linear-gradient(to right, #5ea68e, #37455f);
  color: #f8edce;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.message-header h1 {
  font-family: "Lato", sans-serif;
}


.messages-container {
  height: 65vh;
}

.line {
  background-color: #d9d9d9;
  height: 2px;
}

.chatbar {
    padding: 6px 20px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-bar {
    display: flex;
    align-items: center;
    background: #ececec;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 95%;
}

.chat-input {
  color: black;
  z-index: 1;                  
}

.markdown-body h2 { margin: 0.5rem 0 0.5rem; }
.markdown-body h3 { margin: 0.75rem 0 0.4rem; }
.markdown-body ul { margin: 0.25rem 0 0.75rem; padding-left: 1.25rem; }
.markdown-body li { margin: 0.25rem 0; }

.chat-input::placeholder {
  color: #888;
  /* position: absolute;
  left: 12px;
  top: 0; */
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.chat-input:not(:placeholder-shown)::placeholder {
  opacity: 0;
} 

.markdown h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 12px;
}

.markdown h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 10px;
}

.markdown ul {
  padding-left: 18px;
}

.markdown li {
  margin-bottom: 6px;
}

.actions-line {
  display: block;
  margin-bottom: 16px; /* yahan space control karo */
}

p:has(strong:contains("Actions:")) {
  margin-bottom: 16px;
}

.markdown-body ol ol { list-style-type: lower-roman; }

.markdown-body ol ol { padding-left: 1.6rem; }

/* Outer ordered list (1. Product...) */
.markdown-body ol {
  margin: 0.25rem 0 0.75rem;
  padding-left: 1.25rem;   /* controls left indent of 1,2,3 */
}

/* Inner ordered list (i, ii, iii) */
.markdown-body ol ol {
  list-style-type: lower-roman;
  margin-top: 0.25rem;
  padding-left: 1.25rem;   /* controls indent of roman points */
}

/* Optional: tighter spacing */
.markdown-body li {
  margin: 0.2rem 0;
}



/* background-image: url('/src/assets/chat-ai-bg.png');
background-image: url('/src/assets/chat-user-bg.png'); */

