/* Global body style */
body {
   caret-color: transparent;
  font-family: "Lato", sans-serif;
}

.tablec {
  width: 100%;
  border-collapse: collapse;
}

.tablec td,
.tablec th {
   caret-color: transparent;
  border: 1px solid #000000;
  padding: 8px;
  color: #414042;
  text-align: center;
  font-size: clamp(12px, 0.729vw, 16px) !important;
}

.theadc {
  background-color :  #5ea68e !important;
  color:  #f8edcf !important;
  font-weight: bold;
}

h2{
  caret-color: transparent; /* Hide the blinking cursor */
}
/* Alternate row colors */
.tablec tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tablec tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.styled-button {
  font-family: "Lato", sans-serif;
  font-size: clamp(12px, 0.729vw, 16px) !important;
  background-color: #2c3e50;
  color: #f8edcf;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;
  /* margin-right: auto; */
  margin-top: 10px;
  margin-left: auto;
}

button.styled-button:hover {
  background-color: #34495e;
}

button {
  cursor: pointer;
}

input {
  caret-color: black; /* Ensures caret (cursor) is visible */
  animation: blink-caret 1s step-end infinite; /* Optional blinking animation */
}

